<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Distributer Dashboard</title>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css">
    <script src="https://cdn.datatables.net/1.10.9/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://kit.fontawesome.com/fe84c4f35a.js" crossorigin="anonymous"></script>
    <script src="//geodata.solutions/includes/countrystatecity.js"></script>
    <link rel="stylesheet" href="css/distributer_css.css">
    <script src="gas.js"></script>
</head>

<Body>
    <div class="wrapper">
        <div class="top_navbar">
            <div class="hamburger">
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div class="top_menu">
                <div class="logo">
                    Welcome Distributer
                </div>
                <ul>
                    <li><a href="/logout_distributer" title="Log Out">
                            <i class="fas fa-sign-out-alt"></i>
                        </a></li>

                </ul>
            </div>
        </div>

        <div class="sidebar">
            <ul id="tabs">
                <li><a id="tab1">
                        <span class="icon"><i class="fas fa-user-shield"></i></span>
                        <span class="title">Distributer's info</span>
                    </a></li>
                <li><a id="tab2" class="inactive">
                        <span class="icon"><i class="fas fa-users"></i></span>
                        <span class="title">User's info</span>
                    </a></li>
            </ul>
        </div>

        <div class="main_container">
            <div class="item table-responsive" id="tab1C">
                <h3>Distributor's Record</h3>
                <br>
                <table class="table table-striped table-bordered dis_table" id="property">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Address</th>
                            <th>Country</th>
                            <th>state</th>
                            <th>City</th>
                            <th>Phone Number</th>
                            <th>Email Registered</th>
                            <th>Registered Date</th>
                        </tr>
                    </thead>
                    <% for(var i=0;i<distributor_record.length;i++){ %>
                    <tr>
                        <td class="name"><%= distributor_record[i].name.firstname+" "+distributor_record[i].name.lastname%></td>
                        <td><%= distributor_record[i].address%></td>
                        <td><%= distributor_record[i].country%></td>
                        <td><%= distributor_record[i].state%></td>
                        <td><%= distributor_record[i].city%></td>
                        <td><%= distributor_record[i].phoneno%></td>
                        <td><%= distributor_record[i].email%></td>
                        <td><%= distributor_record[i].date%></td>
                    </tr>
                    <% } %>
                </table>
            </div>
            <div class="item table-responsive" id="tab2C">
                <h3>User's Record</h3>
                <br>
                <table class="table table-striped table-bordered dis_table" id="property">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Address</th>
                            <th>Country</th>
                            <th>state</th>
                            <th>City</th>
                            <th>Phone Number</th>
                            <th>Email Registered</th>
                            <th>Gas Id</th>
                            <th>Registered Date and Time</th>
                            <th>Gas Empty Date</th>
                        </tr>
                    </thead>
                    <% for(var i=0;i<user_record.length;i++){ %>
                    <tr>
                        <td class="name"><%= user_record[i].name.firstname+" "+user_record[i].name.lastname%></td>
                        <td><%= user_record[i].address%></td>
                        <td><%= user_record[i].country%></td>
                        <td><%= user_record[i].state%></td>
                        <td><%= user_record[i].city%></td>
                        <td><%= user_record[i].phoneno%></td>
                        <td><%= user_record[i].email%></td>
                        <td><%= user_record[i].gasId %></td>
                        <td><%= user_record[i].date%></td>
                        <td><%= user_record[i].gas_empty_date%></td>
                    </tr>
                    <% } %>
                </table>
            </div>
        </div>
    </div>

</Body>
<footer>
</footer>


</html>